# pip3 install --no-cache-dir torch==2.0.1+cu118 torchvision==0.15.2+cu118 torchaudio==2.0.2 --index-url https://download.pytorch.org/whl/cu118
diffusers[torch]==0.21.4
xformers==0.0.22
webdataset==0.2.57
imageio==2.31.3
tensorboard==2.14.1
opencv-python==4.8.1.78
#dotmap==1.3.30
